*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #121212;
    color: white;
    font-family: 'poppins',sans-serif;
    min-height: 100hv;
}


header{
    font-size: 1.5rem;
    margin: 20px;
}

header,form{
    min-height: 30hv;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;

}

form button{
    color:#3ea6ff ;
    background:white;
    cursor: pointer;
    color: #121212;
    transition:  all 0.3s ease;
}
form button:hover{
    background:#66bfff;
    color: white;
}

.todo-container{
    position: relative;
    top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.todo-list{
    position: absolute;
    min-width: 35%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background:white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #3ea6ff;
    color: darkblue;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgb(73, 204, 73);
}


/* .trash-btn{
    background-color: rgb(236, 16, 16);
} */


.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
  transform: translateY(8rem) rotatez(20deg);
  opacity: 0;  
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #3ea6ff;
    width: 10rem;
    cursor: pointer;
    border-radius: 5%;
    padding: 1rem;
}

.select::after{
    content: "\25bc";
    position: absolute;
    background:#3ea6ff ;
    color: white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition:all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #3ea6ff;
}